* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* general */
.container {
    max-width: 1170px;
    margin: 0 auto;
}

.container::after {
    content: "";
    display: block;
    clear: both;
}

[class*="col__"] {
    float: left;
}
/* /general */


/* framework */
/* columns */
.col__1 {
    width: calc( ( 100% / 12 ) * 1);
}

.col__2 {
    width: calc( ( 100% / 12 ) * 2);
}

.col__3 {
    width: calc( ( 100% / 12 ) * 3);
}

.col__4 {
    width: calc( ( 100% / 12 ) * 4);
}

.col__5 {
    width: calc( ( 100% / 12 ) * 5);
}

.col__6 {
    width: calc( ( 100% / 12 ) * 6);
}

.col__7 {
    width: calc( ( 100% / 12 ) * 7);
}

.col__8 {
    width: calc( ( 100% / 12 ) * 8);
}

.col__9 {
    width: calc( ( 100% / 12 ) * 9);
}

.col__10 {
    width: calc( ( 100% / 12 ) * 10);
}

.col__11 {
    width: calc( ( 100% / 12 ) * 11);
}

.col__12 {
    width: 100%;
}
/* /columns */
/* offset columns */
.col__offset__1 {
    margin-left: calc( ( 100% / 12 ) * 1);
}

.col__offset__2 {
    margin-left: calc( ( 100% / 12 ) * 2);
}

.col__offset__3 {
    margin-left: calc( ( 100% / 12 ) * 3);
}

.col__offset__4 {
    margin-left: calc( ( 100% / 12 ) * 4);
}

.col__offset__5 {
    margin-left: calc( ( 100% / 12 ) * 5);
}

.col__offset__6 {
    margin-left: calc( ( 100% / 12 ) * 6);
}

.col__offset__7 {
    margin-left: calc( ( 100% / 12 ) * 7);
}

.col__offset__8 {
    margin-left: calc( ( 100% / 12 ) * 8);
}

.col__offset__9 {
    margin-left: calc( ( 100% / 12 ) * 9);
}

.col__offset__10 {
    margin-left: calc( ( 100% / 12 ) * 10);
}

.col__offset__11 {
    margin-left: calc( ( 100% / 12 ) * 11);
}

.col__offset__12 {
    margin-left: 100%;
}
/* /offset columns */


