/* general */
.debug .container, [class*="col__"] {
    background-color: rgba(255, 0, 0, 0.2);
    border: 1px solid #000;
}

[class*="col__"] {
    height: 200px;
    text-align: center;
    position: relative;
}

.container--wrapper, .container--wrapper > div {
   padding: 15px;
   height: 100%;
}

.container--wrapper > div {
    border-color: #fff;
}


/* /general */

/* typo */
p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* /typo */
