/* general */
.debug .container, [class*="col__"] {
    background-color: rgba(255, 0, 0, 0.2);
    border: 1px solid #000;
}

[class*="col__"] {
    height: 200px;
    text-align: center;
    position: relative;
}

.wrapper, .wrapper > div {
    padding: 10px;
}

.wrapper > div {
    border-color: #fff;
    height: 100%;
}
/* /general */

/* typo */
p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* /typo */
